@page
@model CosmeticClinicManagement.Pages.Dashboard.IndexModel
@* 
@{
    Layout = "_Layout";
} *@

@if (Model.Role == "Admin")
{
    <partial name="AdminDashboard" />
}
@* else if (Model.Role == "Doctor")
{
    <partial name="DoctorDashboard" />
} *@
else if (Model.Role == "Receptionist")
{
    <partial name="ReceptionistDashboard" />
}
else
{
    <div class="alert alert-warning mt-4">You don't have a specific dashboard assigned.</div>
}
